ion-toolbar.fullview {
    height: auto;
    padding-left: unset;
    padding-right: unset;

    ion-button.button-large {
        height: 2em;
        width: 4em;
        font-size: 1em;
    }
}

.comments-icon {
    margin-left: 1em;
}

.comments-label {
    font-size: 0.8em;
}
