<ion-header [translucent]="true">
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-content [ngSwitch]="hasAccount">
    <app-login *ngSwitchCase="false"></app-login>
    <ng-container *ngSwitchCase="true">
      <ng-container [ngSwitch]="isLoading">
        <ng-container *ngSwitchCase="true">
          <ion-spinner name="bubbles"></ion-spinner>
        </ng-container>
        <ng-container *ngSwitchCase="false">
          <div class="account-container">
            <img
              class="avatar"
              [src]="accountDetails.person_view.person.avatar || 'assets/icon/favicon.png'"
              alt="avatar"
            />
            <ion-chip color="primary">{{primaryAccount?.username}}</ion-chip>
            <div class="account-history">
              <div class="account-history-item">
                <ion-icon
                  name="reader-outline"
                  size="large"
                  color="primary"
                ></ion-icon>
                <div class="account-history-item-details">
                  <ion-label
                    >{{accountDetails.person_view.counts.post_count}}</ion-label
                  >
                  <ion-label>Posts</ion-label>
                </div>
              </div>
              <div class="account-history-item">
                <ion-icon
                  name="chatbox-ellipses-outline"
                  size="large"
                  color="primary"
                ></ion-icon>
                <div class="account-history-item-details">
                  <ion-label
                    >{{accountDetails.person_view.counts.comment_count}}</ion-label
                  >
                  <ion-label>Comments</ion-label>
                </div>
              </div>
            </div>
            <ion-chip color="success">
              <img class="cake" src="assets/cake.svg" alt="cake" />
              {{accountDetails.person_view.person.published | date}}
            </ion-chip>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ion-content>
</ion-content>
