.listing-types {
    text-align: center;

    ion-button {
        width: 7em;
        height: 2.2em;
        font-size: 0.8em;
        --color: var(--ion-color-medium);

        &.selected {
            --color: var(--ion-color-dark);
            --background: var(--ion-color-light);
        }
    }
}

ion-select {
    margin-left: 2em;
    font-size: 0.8em;
}
