<ion-header [translucent]="true">
  <ion-toolbar> </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let post of posts">
      <app-post-preview
        (setOpen)="setOpen($event)"
        [post]="post"
        (onUpdatePostScore)="onUpdatePostScore($event)"
      ></app-post-preview>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <app-post
        *ngIf="activePost"
        [post]="activePost"
        (setOpen)="setOpen($event)"
      ></app-post>
    </ng-template>
  </ion-modal>
</ion-content>
