<ion-header [translucent]="true">
  <ion-toolbar> </ion-toolbar>
</ion-header>
<ion-header [translucent]="true">
  <ion-toolbar class="listing-types">
    <ion-button
      *ngFor="let listingType of listingTypes"
      [ngClass]="{'selected': listingType === selectedListingType}"
      [fill]="listingType === selectedListingType ? 'fill' : 'clear'"
      (click)="setListingType(listingType)"
    >
      {{listingType}}
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list role="feed">
    <ion-item lines="none" *ngFor="let post of posts" role="post">
      <app-post-preview
        [post]="post"
        (onUpdatePostScore)="onUpdatePostScore($event)"
      ></app-post-preview>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <app-post></app-post>
    </ng-template>
  </ion-modal>
</ion-content>
