<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>
          <ng-container *ngIf="primaryAccount">
            <ion-list-header>{{ primaryAccount.username }}</ion-list-header>
            <ion-note
              >{{ primaryAccount.username }}@{{
                primaryAccount.server
              }}</ion-note
            >
          </ng-container>
        </ion-list>
        <ion-list id="labels-list" *ngIf="primaryAccount">
          <ion-list-header>Favourites</ion-list-header>
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let community of starredCommunities; let i = index"
          >
            <ion-item lines="none" detail="false">
              <ion-button
                class="toggle-start-community"
                fill="clear"
                (click)="deleteStarredCommunity($event, community.id)"
              >
                <ion-icon name="star"></ion-icon>
              </ion-button>
              <div
                class="community-item"
                routerDirection="root"
                [routerLink]="[community.url]"
                routerLinkActive="selected"
              >
                <img class="community-icon" [src]="community.icon" alt="" />
                <ion-label>{{ community.title }}</ion-label>
              </div>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="inbox-list">
          <ion-list-header>Communites</ion-list-header>
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let community of communities; let i = index"
          >
            <ion-item lines="none" detail="false">
              <ion-button
                *ngIf="primaryAccount && !isStarredCommunity(community)"
                class="toggle-start-community"
                fill="clear"
                (click)="starCommunity($event, community)"
              >
                <ion-icon name="star-outline"></ion-icon>
              </ion-button>
              <div
                class="community-item"
                routerDirection="root"
                [routerLink]="[community.url]"
                routerLinkActive="selected"
              >
                <img class="community-icon" [src]="community.icon" alt="" />
                <ion-label>{{ community.title }}</ion-label>
              </div>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
