:host {
    width: -webkit-fill-available;
}

ion-card {
    margin: 0.5em 0.5em;

    ion-card-content {
        padding-bottom: unset;
    }
}

ion-card-title {
    font-size: 1.2em;
}

ion-card-subtitle {
    display: flex;
    color: var(-ion-color-dark-tint);
    align-items: center;

    .community {
        display: flex;
        align-items: center;

        &-name {
            margin-left: 1.5em;
        }

        &-icon {
            width: 2em;
            height: 2em;
            border-radius: 2em;
            background: black;
        }
    }
    span {
        margin-left: 0.5em;
        color: var(--ion-color-medium-tint);
    }
}

ion-thumbnail {
    width: -webkit-fill-available;
    height: 100%;
}

.body {
    font-size: 0.8em;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    padding: 0.5em;
    color: unset;
    margin-top: 1em;

    span {
        width: -webkit-fill-available;
        overflow: hidden;
        white-space: nowrap;
        margin-left: 0.5em;
    }
}

cite {
    font-size: 0.7em;
}

.ion-card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 0 0.5em;
    padding-top: 1em;

    .score,
    .comments {
        display: flex;
        align-items: center;
        span {
            margin: 1em 0;
        }
    }

    .score ion-button {
        scale: 1.5;
    }

    .share ion-button,
    .comments ion-button {
        scale: 1.4;
    }
}
