<ion-card>
  <ion-card-header (click)="openPost()">
    <ion-card-title>{{ title }} </ion-card-title>
    <ion-card-subtitle>
      <div class="community">
        <div class="community-icon">
          <ion-thumbnail slot="start" *ngIf="communityIcon">
            <img class="community-icon" [src]="communityIcon" />
          </ion-thumbnail>
        </div>
        <span class="community-name">{{ communityName }}</span>
      </div>
      <span>{{ published }}</span>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ng-container (click)="openPost()">
      <ion-thumbnail slot="start" *ngIf="thumbnail">
        <img [alt]="title" [src]="thumbnail" />
      </ion-thumbnail>
      <span *ngIf="body" class="body">{{ body }}</span>
    </ng-container>

    <ng-container *ngIf="link">
      <a class="link" [href]="link" target="_blank">
        <ion-icon name="link-outline"></ion-icon>
        <span>{{ link }}</span>
      </a>
      <cite>{{ domain }}</cite>
    </ng-container>
  </ion-card-content>
  <app-post-footer [post]="post"></app-post-footer>
</ion-card>
