<ion-header>
  <ion-toolbar>
    <div class="title">
      <img class="community-icon" [src]="post.community.icon || ''" alt="" />
      <div class="post-metadata">
        <span class="community-name">{{ post.community.name }}</span>
        <div class="user">
          <div class="username">
            <span [ngClass]="{ mod: isModerator(post.creator.id) }">{{
              post.creator.name
            }}</span>
            <span class="time">{{
              calculateTimePassed(post.post.published)
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="closePost()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">
  <h3 class="title">{{ post.post.name }}</h3>
  <div class="image-wrapper">
    <img class="image" *ngIf="thumbnail" [src]="thumbnail" alt="" />
  </div>
  <p *ngIf="post.post.body">{{ post.post.body }}</p>
  <ng-container *ngIf="link">
    <a class="link" [href]="link" target="_blank">
      <ion-icon name="link-outline"></ion-icon>
      <span>{{ link }}</span>
    </a>
    <cite>{{ domain }}</cite>
  </ng-container>
  <app-post-footer [post]="post" [preview]="false"></app-post-footer>
  <ng-container>
    <app-comment
      *ngFor="let comment of comments"
      [comment]="comment"
      [sort]="sort"
      [limit]="limit"
    ></app-comment>
  </ng-container>
</ion-content>
